%h1 Listing groups

%table
  %tr
    %th Name
    %th Owner
    %th 
    %th
    %th
  - @groups.each do |group|
    %tr
      %td= group.name
      %td= group.owner.name
      %td= link_to 'Show', group
      %td= link_to 'Edit', edit_group_path(group)
      %td= link_to 'Destroy',group ,method: :delete
<!--     <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->

%br/
= link_to 'Create a new Group', new_group_path

